{% extends "htmldiff.jinja2" %}
{% block diffs %}
{% endblock %}
{% block summary %}
<h1>Catalog compilation result for <span style="color: #EA3030">{{ fqdn }}</span>: <span style="color: #EA3030">FAIL</span></h1>
<p>See reports for detailed compilation errors</p>
{% endblock %}
