{% extends "htmldiff.jinja2" %}
{% block diffs %}
{% endblock %}
{% block summary %}
<h1>Catalog compilation result for <span style="color: #30AF30">{{ fqdn }}</span>: <span style="color: #30AF30">OK</span></h1>
{% endblock %}
