Source: swiftrepl
Maintainer: Filippo Giunchedi <filippo@wikimedia.org>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 9), dh-python
Standards-Version: 3.9.1
Vcs-Git: https://gerrit.wikimedia.org/r/operations/software

Package: swiftrepl
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: replicate objects between two OpenStack Swift clusters

