server {
	listen   80; ## listen for ipv4; this line is default and implied

	root /vagrant/output;
	index index.html index.htm;

	# Make site accessible from http://localhost/
	server_name localhost;

	location / {
        autoindex on;
		try_files $uri $uri/ 404;
	}
}

