# sample config file for hostgroups script
# copy this into checkhosts.conf and edit to suit

[globals]
timeout=10

[sources]
# check the decommissioning.pp puppet file on this host
decompuppet_host=sockpuppet.pmtpa.wmnet
decompuppet_path=/home/blot/testing/decommissioning.pp

# check racktables database on this host
decomracktables_host=db1001.eqiad.wmnet
decomracktables_db=racktables
decomracktables_user=racktables
#decomracktables_password=
decomracktables_plugin=getpwdfromfile
decomrackables_pluginparams=/home/blot/testing/init.pp;$password

# check dhs group files on this host
dsh_host=localhost.localdomain
dsh_path=/home/blot/testing/dshgroups

# check dhcp entries on this host
dhcp_host=localhost.localdomain
dhcp_path=/home/blot/testing/dhcp

# check dns zone files on this host
dns_host=localhost.localdomain
dns_path=/home/blot/testing/dns/zones

# check puppet facts for all clients on these hosts
puppet_host=localhost.localdomain
puppet_path=/home/blot/testing/puppet/yaml/facts

# check puppet certs on these hosts
puppetcerts_host=localhost.localdomain
puppetcerts_path=/home/blot/testing/puppetcerts/signed

# puppet runs on clients are logged here
logpuppet_path=/home/blot/testing/puppet.log

# check puppet exported resources db on this host
storedconfigs_host=localhost.localdomain
storedconfigs_db=puppet
storedconfigs_user=puppet
#storedconfigs_password=
storedconfigs_plugin=getpwdfromfile
storedconfigs_pluginparams=/home/blot/testing/puppetmaster.conf;password
